<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycompany.stockview.repository.StockRepository">
    <select id="findAll" resultType="com.mycompany.stockview.entity.Stock">
        SELECT
            COMP_NAME, INDUSTRY, MAIN_PROD, LIST_DATE, FISC_MONTH, CEO_NAME, WEBSITE, REGION
        FROM STOCK_ITEM
    </select>

    <select id="searchWithPaging" resultType="com.mycompany.stockview.entity.Stock">
        SELECT COMP_NAME, INDUSTRY, MAIN_PROD, LIST_DATE, FISC_MONTH, CEO_NAME, WEBSITE, REGION
        FROM STOCK_ITEM
        <where>
            <if test="fisc_month != null and fisc_month != ''">
                fisc_month = #{fisc_month}
            </if>
        </where>
        LIMIT #{size} OFFSET #{offset}
    </select>
    
    <select id="countSearchResult" resultType="int">
        SELECT COUNT(*) FROM STOCK_ITEM
        <where>
            <if test="fisc_month != null and fisc_month != ''">
                fisc_month = #{fisc_month}
            </if>
        </where>
    </select>

</mapper>